.texth1 {
    width: 80px;
    height: 80px;

}

.texth1 h1 {
    margin-left: 220px;
    margin-top: 90px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #272727;
}

.color {
    margin-left: 350px;
    width: 151px;
    height: 1px;
    left: 279px;
    background: #FF6969;
}

.section {
    width: 80%;
    margin: 0 auto;
}

.first_img {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.thoo_img {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.three_img {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.four_img {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.five_img {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 100px;
}

h2 {
    margin-top: 10px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #272727;
}

h3 {
    margin-top: 15px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: #212121;
}

h4 {
    margin-top: 15px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #FF6969;
}