
.header {
    width: 80%;
    display: flex;
    /* justify-content: center; */
    margin: 0 auto;

}
.btn {
    width: 193px;
height: 59px;
flex-shrink: 0;
background: #FF6969;
color: #FFF;
font-family: 'GFS Didot';
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.9px;
margin-left: 520px;
margin-top: -25px;
}
.ul{
    display: flex;
    margin-top: 25px;
}
.ul li{
    color: #272727;
font-family: 'GFS Didot';
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.9px;
margin: 0px 40px;
}
