.first_text {
    position: absolute;
    width: 740px;
    height: 90px;
    left: 169px;
    top: 113px;
}

.first_text h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #272727;
}

.photo {
    position: absolute;
    width: 740px;
    height: 448px;
    left: 169px;
    top: 233px;
}

.text_center {
    position: absolute;
    width: 739px;
    height: 406px;
    left: 170px;
    top: 711px;
}

.text_center p {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #272727;
}

.text_p {
    position: absolute;
    width: 739px;
    height: 36px;
    left: 170px;
    top: 1100px;
}

.text_p p {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #272727;
}

.style_text {
    position: absolute;
    width: 739px;
    height: 116px;
    left: 170px;
    top: 1203px;
}

.style_text p {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #272727;
}

.img_container {
    position: absolute;
    width: 740px;
    height: 376px;
    left: 150px;
    top: 1349px;
}

.last_center_p {
    position: absolute;
    width: 739px;
    height: 203px;
    left: 170px;
    top: 1755px;
}

.last_center_p p {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #272727;
}

.last_center_span {
    position: absolute;
    width: 739px;
    height: 203px;
    left: 170px;
    top: 1900px;
}

.last_center_span span {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #272727;
}

.background {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 150px;
    top: 2108px;
    background: #041C4A;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: -1;
}

.background_right {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 914px;
    top: 2108px;
    background: #041C4A;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}


.left_img {
    margin-top: 25px;
    margin-left: 30px;
}

.right_img {
    margin-top: 2090px;
    margin-left: 175px;
}

.right_text_last {
    position: absolute;
    width: 225px;
    height: 20px;
    left: 990px;
    top: 273px;
}

.right_text_last p {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #272727;
}

.wrapp_last {
    position: absolute;
    width: 270px;
    height: 270px;
    left: 1073px;
    top: 357px;
}

.wrapp_last_ {
    position: absolute;
    width: 272px;
    height: 270px;
    left: 1073px;
    top: 707px;
}